MONGO_URI=mongodb+srv://test:test@cluster0.6awpky1.mongodb.net/test?retryWrites=true&w=majority
VITE_BACKEND_URL=http://localhost:3000

JWT_SECRET=uneCleSuperSecrete123!
FRONTEND_URL=http://localhost:5173